body {
  background-color: #1C7430; /* Основной цвет фона - зеленый */
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.non-visible {
  display: none; /* Для неактивных экранов */
}

.start-img {
  margin-top: 20vh;
}

.main-header {
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  opacity: 0.85;
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.start-button {
  font: 700 16px 'Open Sans';
  color: #1C7430;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0.85;
  margin-top: 10px;
}

.main-screen {
  padding-left: 15%;
  padding-right: 15%;
  height: 100vh;
}

.main-screen__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 5%;
  align-items: flex-end;
}

.nav__start-again {
  cursor: pointer;
  background: none;
  border: none;
  font: 400 14px 'Open Sans';
  color: #fff;
}

.nav__points {
  color: #fff;
  font-size: 20px;
}

.main-screen__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
}

.cards__item {
  width: 14.3%;
  height: 31%;
}
