body {
  background-color: #1C7430; /* Основной цвет фона - зеленый */
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.non-visible {
  display: none; /* Для неактивных экранов */
}

.start-img,
.end-img {
  margin-top: 20vh;
}

.main-header,
.hooray {
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  cursor: default;
  opacity: 0.85;
  margin-top: 20px;
  letter-spacing: 0.2px;
}

.hooray {
  font-size: 24px;
  text-transform: none;
}

.start-button,
.again-button {
  font: 700 16px 'Open Sans';
  color: #1C7430;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0.85;
  margin-top: 10px;
}

.main-screen {
  padding-left: 15%;
  padding-right: 15%;
  height: 100vh;
}

.main-screen__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 5%;
  align-items: flex-end;
}

.nav__start-again {
  cursor: pointer;
  background: none;
  border: none;
  font: 400 16px 'Open Sans';
  color: #fff;
}

.nav__points--word,
.nav__points--number {
  color: #fff;
  font-size: 20px;
}

.main-screen__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 90%;
}

.cards__flip-container.selected .flipper {
transform: rotateY(180deg);
}

.cards__flip-container.selected img,
.cards__flip-container.selected--done img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cards__flip-container {
  width: 14.3%;
  height: 31%;
  cursor: pointer;
}

.cards__flip-container:hover img {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.cards__item {
  width: 100%;
  height: 100%;
}

div:not(.selected--done) .flipper {
 transition: 0.4s;
 transform-style: preserve-3d;
 position: relative;
 height: 100%;
}

.cards__item--front, .cards__item--back {
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
}

.cards__item--back {
 z-index: 2;
}

.cards__item--front {
 transform: rotateY(180deg);
}

.selected--done .cards__item--front {
  backface-visibility: visible;
  transform: none;
}
